*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
nav{
    background-color: #565557;
    height: 80px;
    width: 100%;
}
nav ul{
    margin-right: 20px;
    float: right;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0.5px;
}
#logo{
    font-weight: bold;
    font-size: 32px;
    line-height: 80px;
    padding: 0px 100px;
    color: #ffff81;
}