*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
nav{
    background-color: #565557;
    height: 80px;
    width: 100%;
}
nav ul{
    margin-right: 20px;
    float: right;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0.5px;
}
nav ul li a{
    color:#ffff00;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active, a:hover{
    background-color: #858585;
    transition: 0.5s;
}
#logo{
    font-weight: bold;
    font-size: 32px;
    line-height: 80px;
    padding: 0px 100px;
    color: #ffff81;
}
.checkbtn{
    color: #ffff00;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media(max-width:952px){
    #logo{
        font-size: 30px;
        padding-left:10px;
        text-align: center;
        display: flex;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width:858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #858585;
        top: 80px;
        left: -1000px;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0px;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a.active, a:hover{
        background: none;
        color: #fff;
    }
    #check:checked ~ ul{
        left: 0;
    }
}